* text=auto eol=lf

*.py linguist-language=Python
*.md linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation
*.toml linguist-documentation
*.txt linguist-documentation
docker/* linguist-documentation
.github/* linguist-documentation
docs/* linguist-documentation
